@charset "utf-8";
body {
     background-image: url(../image/bgimage.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  /* margin: 0px;
    padding: 0px;
    background: #fff url(/image/bgimage.jpg) center center fixed no-repeat;
    background-size: cover;*/
}

body table {
    text-align: left;
    border-top-left-radius: 0px;
}

body p {
    color: #363748;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

body h1 {
    color: #363748;
    text-align: center;
}
